.head-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    align-items: center;
    background-color: limegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px;
    align-items: center;
    background-color: limegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.main-intro {
    display: grid;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background-color: whitesmoke;

}

.color {
    color: purple;
}

a {
    text-decoration: none;
}


.style {
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: Lightgreen;
}
}
